[Unit]
Description=BIRD Internet Routing Daemon ({{handle}})
After=network.target

[Service]
Environment=BIRD_RUN_USER=bird
Environment=BIRD_RUN_GROUP=bird
Environment=BIRD_ARGS="-c /etc/bird/bird-{{handle}}.conf -s /var/run/bird/bird-{{handle}}.ctl"
ExecReload=/usr/sbin/birdc -s /var/run/bird/bird-{{handle}}.ctl configure
ExecStart=/usr/sbin/bird -f -u $BIRD_RUN_USER -g $BIRD_RUN_GROUP $BIRD_ARGS
Restart=on-abort

[Install]
WantedBy=multi-user.target
